# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

##########  Frontend  ##########
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


##########  Backend  ##########
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# Environment variables

# Instance folder
instance/

# SQLite database file (if used)
*.sqlite

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# Logs
logs/
*.log

# If you're using a database schema migration tool like Flask-Migrate (Alembic)
migrations/versions/*

# Flask stuff:
.flaskenv

# Other files and folders to ignore
node_modules/
coverage/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Images
# *.png
# *.jpg
# *.jpeg

*.pem